[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
django-shell-plus = "*"
flake8 = "*"
ipdb = "*"
ipython = "*"
isort = "*"
mypy = "*"
pep8-naming = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
responses = "*"
rope = "*"
snapshottest = "*"

[packages]
django = "*"
django-environ = "*"
graphene-django = "*"
psycopg2 = "*"
pytz = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
